.box_service {
    background-color: #499e10;
 
}

.box_service_content_left_column{
    padding: 60px 0px 60px 0px;
}

.headline_service {
    font-size: 30px;
    color: #fff;
}

.service_info {
    font-size: 14px;
    padding: 15px 0px 0px 0px;
    color: #fff;
}

.line_yellow {
    border-bottom: 0.5px solid #ffb200;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 150px;
}

.service_info_two {
    font-size: 14px;
    color: #fff;
}

.button_service_consultant {
    background-color: transparent;
    border: none;
    padding: 35px 0px 35px;

    a {
        color: #fff;
        font-size: 16px;
        border: 0.5px solid #fff;
        border-radius: 25px;
        padding: 15px 45px;
        text-decoration: none;
        background-color: rgba(255, 255, 255, 0.082);

        &:hover {
            background-color: rgba(255, 255, 255, 0.178);
            transition: 0.3s;
            -moz-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out;
            -webkit-transition: all 0.3s ease-out;
        }
    }
}

.box_bg_slider {
    background-color: #fff;
}


.bg_carousel_content_color {
    background-color: #20202085;
}

.bg_carousel_content_one {
    background: url(/img/bg_slider_1.png) no-repeat;
    background-size: cover;
}

.bg_carousel_content_two {
    background: url(/img/header_bg_img.png) no-repeat;
    background-size: cover;
}

.bg_carousel_content_three {
    background: url(/img/bg_slider_1.png) no-repeat;
    background-size: cover;
}

.box_bg_info_slider {
    padding: 50px 0px 50px 110px;
}

.box_info_slider_content {
    background-color: #434343;
    padding: 45px;
}

.headline_slider {
    font-size: 36px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.4;
}

.line_yellow_slider {
    border-bottom: 0.5px solid #ffb200;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 40px;
}

.box_info_slider_text {
    font-size: 16px;
    color: #fff;
    font-weight: 300;
}



.carousel-control-prev-icon {
    background: url(/img/icon_arrow.png) no-repeat;
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    width: 50px;
    height: 50px;
    // margin-right: 25px;
}

.carousel-control-next-icon {
    background: url(/img/icon_arrow.png) no-repeat;
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    width: 50px;
    height: 50px;
    // margin-right: 25px;

}


.button_order{
    background-color: transparent;
    border: none;
    padding: 35px 0px 35px;
    a {
        color: #ffb200;
        font-size: 16px;
        border: 0.5px solid #ffb200;
        border-radius: 25px;
        padding: 15px 45px;
        text-decoration: none;
        &:hover {
            background-color: rgba(255, 255, 255, 0.178);
            transition: 0.3s;
            -moz-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out;
            -webkit-transition: all 0.3s ease-out;
        }
    }
}

.block_bg_service_button{
    padding: 60px;
    background-color: #f7f7f7;
    @media screen and (max-width: 1100px) {
      display: none;
      }
}

.box_button_service{
    border-radius: 12px;
    background-color: #fff;
    padding: 30px 15px;
    // box-shadow: 0 2px 18px rgba(27, 27, 27, 0.03);
    cursor: pointer;
    // &:hover{
    //     border: 0.5px solid #499e10;
    //     transition: 0.3s;
    //     -moz-transition: all 0.3s ease-out;
    //     -o-transition: all 0.3s ease-out;
    //     -webkit-transition: all 0.3s ease-out;
    // }
}

.button_service_text{
    font-size: 18px;
    color: #434343;    
}


.icon_service{
    width: 60px;
   text-align: left;
}

.carousel .carousel-control-next{
    margin-right: 100px;
}

.additional_text{
    font-size: 10px;
    font-weight: 300;
    
}