.footer_box{
    padding: 90px;
    background-color: #f7f7f7;
}

.text_footer_for_logo{
    font-size: 12px;
    color: #3d3d3d;
    padding: 25px 0px 10px;
}

.text_motto{
    font-size: 14px;
    color: #3d3d3d;
}

.text_motto_theory{
    font-size: 14px;
    color: #3d3d3d;
    font-weight: 500;
    padding: 0px 10px 0px;
}