// Спецификация

body {
    font-family: "HelveticaNeueCyr", sans-serif;
    font-size: 14px;
    line-height: 1.6;
    background-color: #fff;
 
}


@media (min-width: 360px) {
    .container {
        max-width: 1450px;
    }
}


.container-fluid{
    padding: 0px;
}

.headline_content_block{
    font-size: 30px;
    font-weight: 350;
    padding: 65px 0px 0px 0px;
    color: #fff;
}