// Спецификация

body {
    font-family: "HelveticaNeueCyr", sans-serif;
    font-size: 14px;
    line-height: 1.6;
    background-color: #fff;
 
}


@media (min-width: 360px) {
    .container {
        max-width: 1610px;
    }
}


.container-fluid{
    padding: 0px;
}

.headline_content_block{
    font-size: 30px;
    font-weight: 30;
    color: #fff;
}

.green_text{
    font-weight: 500;
    color: #499e10;
}

.line_grey{
    border-bottom: 0.5px sold rgb(190, 190, 190);
    width: 100px;
    margin-top: 15px;
}

.bold_grey_text{
    font-weight: 650;
    color: #434343;
}

.header_top_items{
    @media screen and (max-width: 767px) {
      display: none;
      }
}

.disabled_block{
    @media screen and (max-width: 320px) {
        display: none;
         }
}